
  <div class="container mt-5 bg-warning ">
    <!-- Header -->
    
    <h1 class="text-center">Welcome {{welcome}}</h1>
    
    <!-- Logout Button -->
    <div class="d-flex justify-content-center mt-4 " >
     <a href="/logout" class="btn btn-danger">
        Logout
     </a>
      
    </div>
  </div>

  <!-- Bootstrap JS CDN -->

